* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100vw;
  height: 50px;
  background-color: rgb(9, 1, 24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 35px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  width: 100px;
  height: 45px;
  background-image: url(/public/pics/amazon_PNG11.png);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ul1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 0 20px 0 0;
  margin-right: 5rem;
}

.ul2 {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 0 20px 0 0;
  margin-right: 5rem;
}

.list1,
.list2 {
  list-style-type: none;
  padding: 5px;
  position: relative;
  margin-right: 10px;
}

.link1 {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.cart-prod-num {
  position: absolute;
  top: -16px;
  right: -13px;
  font-size: 16px;
  background-color: goldenrod;
  padding: 3px;
  border-radius: 2px;
}

.menu {
  display: none;
}

.bar-cart {
  display: none;
}

@media (max-width: 662px) {
  .ul1 {
    display: none;
  }

  .menu {
    display: flex;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .bar-cart {
    width: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }

  .cart-prod-num2 {
    color: goldenrod;
    position: absolute;
    top: -19px;
    right: -5px;
  }

  .ul2 {
    display: flex;
    position: absolute;
    top: 105px;
    left: 0px;
    width: 100vw;
    align-items: flex-start;
    padding: 15px;
    background-color: rgb(9, 1, 24);
    backdrop-filter: blur(10px);
    flex-direction: column;
    height: 200px;
  }

  .list2 {
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  .list2:hover {
    border: solid 3px rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
}
